*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
main{
  width: 960px;
  margin:50px auto;

}
.list{
  margin-bottom: 50px
}
.list-item{
  padding: 20px 0 20px 20px;
}
.list-box:nth-child(odd){
  background-color: #dcdcdc;
}
.box{
  display: flex;
  flex-wrap:wrap;
}
.box-1{
  background-color: yellow;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px
}
.box-1:first-child,
.box-1:nth-child(5),
.box-1:last-child{
  background-color: orange;


}
.box-1:nth-child(3n){
  margin-right: 0;
}
.box-1:nth-last-child(-n+3){
  margin-bottom: 0;
}