*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  background-color: #ff00ff;
  display: flex;
  padding:30px 20px;
  justify-content:flex-end;
}
header > div{
  background-color: #ffbbff;
  margin:0 10px;
  flex-basis:140px;
  height: 70px;
}
header> :first-child{
  margin-right: auto;
}
main{
  display: flex;
  justify-content:center;

}
.sidebar{
  width:300px;
  background-color: #d8ffb6;
}
.box{
  background-color: green;
  max-width: 700px;
  padding:20px;
  flex-grow:1;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
.box>div{
  background-color: yellow;
  flex-basis:200px;
  height: 130px;
  margin:10px;
}
footer{
  width: 100%;
  padding: 20px;
  background-color: blue;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;


}
footer>div{
  background-color: #13eeff;
  flex-basis:45%;
  max-width: 600px;
  margin: 10px;
  height: 40px;

}